.container
    .row
        .col-lg-6
            .about
                .about__title.title.right-line
                    span О компании
                .about__content
                    <p style="float: left; margin-right: 1rem;"><img class="alignleft wp-image-1167" src="static/images/content/about-company/about.jpg" alt="" width="151" height="129" /></p><p style="text-align: justify;">Строительная компания ООО «БУРЭКС» выполняет бурение скважин различного диаметра в Москве и Московской области. Для проведения работ применяется профессиональная спецтехника и оборудование, что позволяет быстро и качественно добиться поставленных задач как в условиях плотной городской застройки, так и на любой из строительных площадок.</p><p style="text-align: justify;">Еще одним залогом успеха является высокая квалификация наших сотрудников. Перед началом работ мы проводим предварительную подготовку, которая включает в себя:</p><ul><li> осмотр строительной площадки для анализа условий работы;</li><li> консультация с заказчиком для проработки всех требований и предоставления практических рекомендаций;</li><li> выбор оборудования и оптимального метода бурения, а также составления плана рабочего процесса;</li><li> предоставление документации с подробным описанием проделанных работ.</li></ul><p>&nbsp;<br> <noscript><img class="aligncenter size-full wp-image-356" src="http://skburex.ru/wp-content/uploads/2016/02/bur11_yb2-1.png" alt="bur11_yb2" width="640" height="126" /></noscript><img class="aligncenter size-full wp-image-356 lazyloaded" src="http://skburex.ru/wp-content/uploads/2016/02/bur11_yb2-1.png" data-src="http://skburex.ru/wp-content/uploads/2016/02/bur11_yb2-1.png" alt="bur11_yb2" width="640" height="126"></p><p>&nbsp;</p><p style="text-align: justify;">Московская буровая компания предлагает выполнение буровых работ по фиксированной цене и в установленные сроки. Это сложная работа, которая требует высокого уровня профессионализма, поэтому ее стоит доверить сотрудникам нашей компании.</p>
        .col-lg-6
            .work
                .work__title.title.right-line
                    span Как мы работаем
                -
                    let workItems = [{
                        num: 1,
                        subtitle: 'полный комплекс работ',
                        text: 'Проводим полный комплекс работ по реализации принятых решений в области буровых работ в строительстве. Руководители, инженерно-технические работники и рабочие компании имеют профильное строительное образование, многолетний опыт проведения работ в сфере деятельности компании, регулярно проходят повышение квалификации со сдачей соответствующих экзаменов и подтверждением квалификации.',

                    },{
                        num: 2,
                        subtitle: 'ДОПУСКИ СРО В ОБЛАСТИ ЗЕМЛЯНЫХ РАБОТ',
                        text: 'Строительная компания «БУРЭКС» имеет необходимые допуски СРО в области земляных и строительно-монтажных работ, располагает полным комплексом бурового и инъекционного оборудования для производства работ практически по всем применяемым методам усиления основания и устройства свай.',

                    },{
                        num: 3,
                        subtitle: 'ВЫПОЛНЕНИЕ РАБОТ НА ОБЪЕКТАХ КУЛЬТУРНО-ИСТОРИЧЕСКОГО НАСЛЕДИЯ',
                        text: 'Компания имеет в своем составе достаточно квалифицированных специалистов, обладающих опытом выполнения в строительно-монтажных работах, по усилению конструкций. В настоящее время компания получает лицензию министерства Культуры РФ на право выполнения работ на объектах культурно-исторического наследия.',

                    }]
                .work__item-list.custom-cards-list
                    +cards-list(workItems, false, 'work')
