.container
    .row
        .col-md-12
            .clients__title.section-title
                | Узнайте больше о преимуществах сотрудничества с ООО «БУРЭКС»!
            .clients__content
                <div class="h5" style="text-align: center; color: #c1a001;">Становитесь нашим клиентом!</div>
                <p style="text-align: center; font-size: 16px; color: #999999;">Обращение к нам – это максимально высокая результативность выполнения любой поставленной задачи, минимальные сроки и демократичная ценовая политика.</p>
                img(src="static/images/general/logo.png" style="margin: 0 auto;")