.container
    .row
        .col-md-12
            .partnership__title.section-title Как начать сотрудничать с компанией ООО «БУРЭКС»

        -
            const steps = [{icon: 'fas fa-mobile-alt', text: 'Звоните/оставляете заявку'},
            {icon: 'fas fa-calculator', text: 'Расчет стоимости работ'},
            {icon: 'fab fa-chrome', text: 'Выполняем буровые работы'},
            {icon: 'fas fa-file-signature', text: 'Подписываем акт'}]
        +step(steps)
