.container
    .row
        .col-md-9
            .price-download__title.title_medium_size Бурение скважин под сваи в Москве и Московской области
            .price-download__subtitle Буровые работы в стесненных условиях на установках Беркут, Аллигатор, Стерх
        .col-md-3.price-download__button
            +button('a', 'btn-tech', 'скачать прайс-лист', 'padding: 10px 15px; max-width: 300px;', '#', '_self', 'padding: 0;')