-
    const certificates = [
        {href: 'static/images/content/certificates-gallery/cert-1.png', img: 'static/images/content/certificates-gallery/cert-1.png', caption: 'сертификат1'},
        {href: 'static/images/content/certificates-gallery/cert-2.jpg', img: 'static/images/content/certificates-gallery/cert-2.jpg', caption: 'сертификат2'},
        {href: 'static/images/content/certificates-gallery/cert-3.jpg', img: 'static/images/content/certificates-gallery/cert-3.jpg', caption: 'сертификат3'},
        {href: 'static/images/content/certificates-gallery/cert-4.jpg', img: 'static/images/content/certificates-gallery/cert-4.jpg', caption: 'сертификат4'},
        {href: 'static/images/content/certificates-gallery/cert-5.jpg', img: 'static/images/content/certificates-gallery/cert-5.jpg', caption: 'сертификат5'},
        {href: 'static/images/content/certificates-gallery/cert-6.jpg', img: 'static/images/content/certificates-gallery/cert-6.jpg', caption: 'сертификат6'},
        {href: 'static/images/content/certificates-gallery/cert-7.jpg', img: 'static/images/content/certificates-gallery/cert-7.jpg', caption: 'сертификат7'},
        {href: 'static/images/content/certificates-gallery/cert-8.jpg', img: 'static/images/content/certificates-gallery/cert-8.jpg', caption: 'сертификат8'},
        {href: 'static/images/content/certificates-gallery/cert-9.jpg', img: 'static/images/content/certificates-gallery/cert-9.jpg', caption: 'сертификат9'},
        {href: 'static/images/content/certificates-gallery/cert-10.jpg', img: 'static/images/content/certificates-gallery/cert-10.jpg', caption: 'сертификат10'},
        ]
.container
    .row.justify-content-center
        +gallery(certificates, 'certificates')(class="col-lg-2 col-md-3 col-sm-4 col-6 mt-3")

