extends template/main

block variables
    - var title = 'Статья';
    - let pageClass = 'blog-single-page'
    -
        let blogArticles = [
            {author: 'burex', category: 'Новости и статьи', img: 'static/images/content/blog/blog-1.jpg', title: 'В каких случаях фундаменту необходимо усиление?', badge: '23.04.2019', descr: '<div class="hentry__content  entry-content"><p>&nbsp;</p><p style="text-align: justify;">Существует ряд ситуаций, при которых необходимо усиление фундамента. Первым делом необходимо провести осмотр на наличие повреждённых зон.</p><p style="text-align: justify;"><strong>Причины необходимости усиления фундамента:</strong></p><ol><li style="text-align: justify;">Устойчивость и соответствующие показатели фундамента понизились</li><li style="text-align: justify;">Была допущена ошибка при расчёте нагрузки</li><li style="text-align: justify;">Некачественный материал основы</li><li style="text-align: justify;">Понижены несущие свойства основания</li><li style="text-align: justify;">Была произведена пристройка дополнительной комнаты, за счёт чего увеличилась изначальная масса дома</li><li style="text-align: justify;">В процессе строительства была осуществлена замена материалов на более тяжёлые</li></ol><p style="text-align: justify;">Необходимость упрочнения фундамента достаточно частое явление. Медлить и откладывать в этой ситуации не следует, потому как это может привести к губительным последствиям, которые влекут за собой обрушение здания.</p><h2 style="text-align: center;">Способы усиления фундамента</h2><ol><li style="text-align: justify;">Установка свай</li><li style="text-align: justify;">Цементация</li></ol><p style="text-align: justify;">Ленточный фундамент чаще остальных нуждается в усилении, потому как страдает от неравномерных проседаний почвы. В отличии от ленточного, монолитный плитный фундамент редко нуждается в ремонте, потому как обладает достаточной прочностью и не даёт просесть грунту. Бывают случаи, при которых свайным основаниям необходимо провести меры по усилению, что бывает при применении некачественного материала.</p><h2 style="text-align: center;">Укрепление основания при помощи свай</h2><p style="text-align: justify;">Одним из самых популярных и распространённых способов является метод применения свай. Зачастую их применяют для усиления опоры деревянных домов.</p><p style="text-align: justify;"><strong>Ход работы:</strong></p><p style="text-align: justify;">Начинают работу с подъёма здания с помощью домкратов. Это происходит поступательно в несколько этапов. Следующий шаг заключается в укладке металлических балок для придания прочности. После чего приступают к вкручиванию свай и прикреплению их к балкам. Старый фундамент демонтируется.&nbsp; Можно сказать, что при монтаже происходит почти полная замена фундамента.</p><h2 style="text-align: center;">Метод цементации</h2><p style="text-align: justify;">Ещё одним популярным способом укрепления фундамента является метод цементации. Он подразумевает укрепление опоры с помощью цемента. При установлении слабых мест в фундаменте бурят скважины. После этого в скважины закачивают бетонную смесь и дают высохнуть в течении двух суток.</p><p style="text-align: justify;"><a href="http://skburex.ru/uslugi/usilenie-fundamentov">Качественное усиление фундаментов</a>&nbsp; позволит защитить здание от полного или частичного разрушения.</p><p>&nbsp;</p></div>'}
        ]
block content
    .breadcrumbs-wrapper.bg-light-gradient
        .container
            .row
                .col-sm-12
                    ul.breadcrumbs
                        +breadcrumbs-item('Главная','/')
                        +breadcrumbs-item('НОВОСТИ И СТАТЬИ', '/blog.html')
                        +breadcrumbs-item('Статья')
    section.blog#blog
        .container
            .row
                .col-sm-4
                .col-sm-8
                    +cards(blogArticles, 'blog', true)(class="col-sm-12 mb-5")
                        block blog-meta
                            .blog__meta.meta
                                i.fa.fa-user
                                span.meta__item= obj.author
                                i.far.fa-bookmark
                                a(href='/blog.html')
                                    span.meta__item= obj.category
