extends template/main

block variables
    - var title = 'Услуги'
    - let pageClass = 'service-single-page'
block content
    .breadcrumbs-wrapper.bg-light-gradient
        .container
            .row
                .col-sm-12
                    ul.breadcrumbs
                        +breadcrumbs-item('Главная','/')
                        +breadcrumbs-item('Услуги', '/services')
                        +breadcrumbs-item('Бурение')
    section.page-description#page-description
        .container
            .row
                .col-sm-12
                    img(src="static/images/content/service-single/буровые-работы1-768x768.jpg" alt="" style="float:left; width: 200px;")
                    p
                        | Компания ООО «БУРЭКС» занимается выполнением буровых работ в Москве и Московской области. Стоимость услуги зависит от особенностей грунта, глубины и диаметра скважины, а также выбранного метода бурения.
                        |
                        | Для проведения и организации буровых, земляных и строительно-монтажных работ необходим полный комплекс бурового и инъекционного оборудования, а также четкое соблюдение особенностей выбранной технологии бурения. Наша компания имеет в своем распоряжении не только парк специализированной строительной техники, но и команду опытных инженеров и технических работников с профильным образованием. Это позволяет добиваться высокого качества работы в строго оговоренные сроки.
                    h2 Виды и особенности методов бурения
                    p
                        |  Сегодня практически буровые работы выполняются механическим способом с привлечением специализированной механизированной техники. Буровые работы делятся на несколько основных этапов: разрушения грунта, извлечение разрушенной породы на поверхность и закрепление стенок скважины.
                        |
                        | Организацию и проведение буровых работы в Москве и Московской области лучше всего доверить инженерам, которые прошли квалифицированную подготовку.
                        |
                        | Специалисты «БУРЭКС» проведут предварительный осмотр местности, инженерную подготовку и выберут метод для бурения скважины:
                    ul(style="text-align:left;")
                        li роторный;
                        li колонковый;
                        li алмазный;
                        li грунтовый;
                        li с применением специального раствора.
                    p
                        |Помимо наиболее популярных, специалисты нашей компании предлагают и другие методы бурения, которые могут быть более эффективны в зависимости от целей и особенностей грунта: шарошечное, ударно-вращательное, ударно-канатное, вибрационное и другие. О каждом способе выполнения буровых работ в Москве можно проконсультироваться с нашими менеджерами. Для организации буровых работ мы исследуем местность и особенности московского грунта, чтобы выбрать самый эффективный вариант.
                    h2  Преимущества нашей компании
                    img(src="static/images/content/service-single/1_blue.png" alt="" style="float:right; width: 500px;")
                    p
                        | Компания ООО «БУРЭКС» выполняет буровые работы в соответствии с требованиями СНиП 1.02.07-87, с учетом требований, изложенных в ГОСТ 20276-85, ГОСТ 23278-78, ГОСТ 23741-73, РСН 31-83.
                        |
                        | Стоимость разработки во многом зависит от применяемого оборудования, глубины и диаметра скважины, а также проходимости пройденных пород. Клиенты могут рассчитывать на фиксированные цены и услуги наших специалистов для достижения необходимого результата.
    section.services-cost.bg-whitesmoke#services-cost
        include modules/blocks/services-cost-block
    section.partnership#partnership
        include modules/blocks/partnership-block
    section.feedback#feedback
        include modules/blocks/feedback-block