extends template/main

block variables
    - var title = 'Услуги'
    - let pageClass = 'services-page'
block content
    .breadcrumbs-wrapper.bg-light-gradient
        .container
            .row
                .col-sm-12
                    ul.breadcrumbs
                        +breadcrumbs-item('Главная','/')
                        +breadcrumbs-item('Услуги')
    section.zebra-layout
        -
            const services = [
                {img: 'static/images/content/services/asset3.png', title: 'Буровые работы', href: '/services-single.html', text: 'бурение скважин шнековым способом;\n' +
                            'роторное бурение;\n' +
                            'колонковое бурение;\n' +
                            'бурение под защитой бентонитового раствора;\n' +
                            'алмазное бурение;\n' +
                            'бурение асфальта;\n' +
                            'бурение бетона;\n' +
                            'бурение насыпных грунтов.'},
                {img: 'static/images/content/services/asset4.png', title: 'Буроинъекционные сваи', href: '#', text: 'Буроинъекционные сваи необходимы для укрепления грунта и усиления фундамента.\n' +
                            '\n' +
                            'Выполняется в три этапа:\n' +
                            '\n' +
                            'В грунте пробуривается скважина;\n' +
                            'При подъеме бурового шнека, под давлением происходит постепенное бетонирование;\n' +
                            'В полную скважину устанавливается каркас из арматуры;\n' +
                            'Этот вариант – технологичный и имеет массу преимуществ'},
                {img: 'static/images/content/services/asset5.png', title: 'Буронабивные сваи', href: '#', text: '– универсальная технология, которая применяется для создания прочных и надежных конструкций.\n' +
                            '\n' +
                            'Эта услуга подходит для строительства любого масштаба благодаря тому, что каркасы из арматуры крепкие и рассчитаны на длительное время эксплуатации.\n' +
                            '\n' +
                            'Этот метод применяется к любому виду грунта.'},
                {img: 'static/images/content/services/asset6.png', title: 'Буронабивные сваи методом CFA (НПШ)', href: '#', text: '– метод, который объединяет два вида сваи: буронабивных и набивных.\n' +
                            'Превосходство этой технологии – исключение ударных нагрузок. Этот метод применяется для строительства любой сложности, так как стержень может погружаться на разную глубину.Этой метод – распространенный среди квалифицированных строителей.'},
                {img: 'static/images/content/services/asset7.png', title: '\n' +
                            'Анкера, технические скважины', href: '#', text: 'скважины применяются для различных видов строительных процессов.\n' +
                            '\n' +
                            'Скважины могут быть: геологоразведочными, эксплуатационными, техническими и взрывными. Каждая применятся в зависимости от цели назначенной работы, и крепится посредством анкеров. Глубина скважины варьируется от нескольких метров до 2-3 километров.'},
                {img: 'static/images/content/services/asset8.jpeg', title: 'Аренда оборудования', href: '#', text: 'Беркут\n' +
                            'Аллигатор\n' +
                            'Стерх\n' +
                            'Строительная компания ООО «БУРЭКС» предлагает в аренду буровые установки Беркут, Аллигатор, Стерх, а также другое строительное оборудования. Чтобы узнать подробности, звоните по телефонам, указанным на сайте.'},
                {img: 'static/images/content/services/asset9.png', title: 'Инъектирование грунтов', href: '#', text: 'применяется для процесса укрепления грунта. Основные направления этой технологии:\n' +
                            '\n' +
                            '\n' +
                            'Слабый тип грунтов усиливается для сооружения фундаментов;\n' +
                            'Укрепляются берега и противошумные дамбы для строительства объектов, которые возводятся вдоль береговой линии;\n' +
                            'Грунта армируются для того, чтобы избежать оползней'},
                {img: 'static/images/content/services/asset10.png', title: 'Работы в стесненных условиях', href: '#', text: '– процесс, который может осуществляться в самых труднодоступных местах с применением специализированной техники.\n' +
                            'Такой вид работы предназначен:\n' +
                            '\n' +
                            'Для подвальных помещений;\n' +
                            'Труднодоступных участков фундаментов;\n' +
                            'Других стесненных местах;\n' +
                            'Для данного метода используется малогабаритная техника.'},
                {img: 'static/images/content/services/asset11.png', title: 'Сваи ВПТ', href: '#', text: 'применяются для строительных работ различного масштаба, обеспечивая зданию в дальнейшем надежность и прочность. Такой метод обеспечивает строению длительный срок эксплуатации, благодаря качественным материалам.\n' +
                            '\n' +
                            'Первоначально происходит каркас из арматуры по методы ВПТ;\n' +
                            'Затем строители начинают бетонирование;'},
                {img: 'static/images/content/services/asset12.png', title: 'Сваи РИТ', href: '#', text: '– технология, которая может изменить электрическую энергию.\n' +
                            'Данный метод применяется в том случае, когда необходимо произвести строительные работы в высокоэтажных зданиях, нуждающиеся в прочности, надежности и длительности срока эксплуатации. Смесь для сваи РИТ удобно укладывается и хорошо расслаивается.'},
                {img: 'static/images/content/services/asset13.jpeg', title: 'Усиление фундаментов', href: '#', text: 'подводка фундаментов; цементация грунтов;\n' +
                            'цементация оснований; цементация фундаментов;\n' +
                            'закрепление грунтов цементом "Микродур";\n' +
                            'закрепление грунтов методом струйной технологии ("Jet grouting");\n' +
                            'закрепление грунтов методом силикатизации;\n' +
                            'закрепление грунтов методом смолизации;\n' +
                            'закрепление известняков карстовых грунтов.\n' +
                            '\n' +
                            '\n' +
                            '\n'},
                {img: 'static/images/content/services/asset14.png', title: 'Шпунтовое ограждение', href: '#', text: 'используется для ограждения котлованов.\n' +
                            'Этот метод эффективен, так как предотвращает осыпание грунта и обеспечивает доступ к котлованам. Шпунты могут погружаться четырьмя способами:\n' +
                            '\n' +
                            'Ударным;\n' +
                            'Методом вибрации;\n' +
                            'Вдавливанием сваи в грунт;\n' +
                            'Комбинированным вибровдавливанием для мягкого грунта;'},
                ]
        .container
            +zebra-layout(services)