.container
    .row
        .col-md-6
            .advantages__title.title_medium_size Преимущества нашей компании:
            .advantages__content
                ol
                    li Особый подход к клиентам, обсуждение и проработка рабочих вопросов, интересующих вас
                    li Консультация от наших профессионалов и рекомендации касательно процесса работы
                    li Четкое составление плана выполнения работы
                    li Обсуждение с заказчиком, какое оборудование будет использовано для бурения скважины
                    li Составляем соответствующий документ касательно плана работы и ее выполнения
                    li Прайс стоимости приятно удивит любого заказчика, цены на нашу работу оптимальные и выгодные
        .col-md-6
            .advantages__title.title_medium_size
                |«БУРЭКС» предлагают работу любой сложности, занимаемся бурением разного вида:
            .advantages__content
                ol
                    li Роторным
                    li Колонковым
                    li Бурение алмазное
                    li Бурение с применением специального раствора
                    li Асфальтовое
                    li Бетонное
                    li Грунтовое