.feedback {
  &__item {
    margin-bottom: 1rem;
    .icon-box {
      justify-content: flex-start;
      i {
        font-size: 3rem;
      }
      &__title {
        color: $darkgray;
      }
    }
  }
  &__subtitle {
    margin-bottom: 1rem;
  }
  &__working-hours {
    background-color: $whitesmoke;
    padding: 2rem;
    .working-hours {
      &__line {
        &:after {
          border-bottom: 2px solid #ddd;
        }
      }
    }
  }
  .btn-wrapper {
    display: flex;
    align-items: center;
    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }
  &__btn {
    display: inline-block;
    max-width: 300px;
    text-transform: uppercase;
    font-weight: 800;
    padding: 1rem 1.9rem;
    margin-right: 0;
    @include media-breakpoint-down(sm) {
      margin: 1rem auto 0 auto;
    }
  }
}