header { flex: 0 0 auto; }

.header {
  width: 100%;
  @include media-breakpoint-down(md) {
    position: inherit;
  }
  &__container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    margin-top: 2.5rem;
    @include media-breakpoint-up(lg) {
      flex-direction: row;
    }
    @include media-breakpoint-down(md) {
      margin-top: 0;
    }
  }
  &__logo {
    padding: 1rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white;
    @include media-breakpoint-up(lg) {
      max-width: 250px;
    }
    img {
      width: 100%;
      height: auto;
      @include media-breakpoint-down(md) {
        width: auto;
        height: 50px;
      }
    }
  }
  &__contacts {
    background-color: $whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    @include media-breakpoint-up(lg) {
      flex-direction: row;
    }
    @include media-breakpoint-down(md) {
      padding: 0 1.5rem;
    }
    .widget {
      padding: 1rem 1.5rem;
      .icon-box {
        &:hover {
          i {
            color: $darkgoldenrod;
          }
        }
        i {
          color: $darkgray;
        }
        &__text {
          font-weight: 700;
          @include media-breakpoint-up(md) {
            font-size: 13px;
            margin-left: .3rem;
          }
        }
        &__title {
          font-weight: 400;
          text-transform: none;
        }
        @include media-breakpoint-down(md) {
          justify-content: center;
        }
      }
    }
    .contacts__item {
      flex: 1 1 auto;
      position: relative;
      @include media-breakpoint-down(md) {
        width: 100%;
      }
      &:not(:last-child) {
        @include media-breakpoint-down(md) {
          border-bottom: 1px solid rgba(0, 0, 0, 0.15);
        }
        &:after {
          top: calc(50% - .9375rem);
          height: 1.875rem;
          width: 1px;
          right: 0;
          position: absolute;
          content: '';
          background-color: rgba(0,0,0,.1);
          @include media-breakpoint-down(md) {
            display: none;
          }
        }
      }
    }
  }
}

.homepage {
  .site-header {
    position: absolute;
    z-index: 99;
    background: 0 0;
    width: 100%;
    @include media-breakpoint-down(md) {
      position: initial;
    }
  }
  .page-header__title {
    display: none;
  }
}

.page-header__title {
  color: $white;
  padding: 3rem 0 1rem 0;
}